.button {
  display: flex;
  align-items: center;
  min-height: 45px;
  min-width: 240px;
  padding: 16px;
  transition: color .25s, background-color .25s;
  background: rgba(0, 0, 0, 0);
  font-family: $sans;
  font-size: 1.125rem;
  letter-spacing: .5px;
  text-decoration: none;
  border-radius: 5px;
  @media ($tablet-up) {
    min-height: 60px;
  }

  svg {
    flex-shrink: 0;
    height: 25px;
    width: auto;
    padding-right: 14px;
  }
}

.button--outline {
  color: $color-text;
  border: 2px solid $color-tertiary;

  @media (hover: hover) {
    &:hover {
      background: $color-tertiary;
      color: $color-primary;
    }
  }
}

.button--outline-dark {
  color: $color-primary;
  border: 2px solid $color-primary;

  @media (hover: hover) {
    &:hover {
      background: $color-primary;
      color: $color-text;

      svg, path {
        color: $color-text;
      }
    }
  }
}

.button--primary {
  background: $color-tertiary;
  color: $color-primary;

  @media (hover: hover) {
    &:hover {
      background: $color-secondary;
      color: unset;
    }
  }
}

.button--secondary {
  background: $color-secondary;

  @media (hover: hover) {
    &:hover {
      background: $color-tertiary;
      color: $color-primary;
    }
  }
}
