.menu {
  overflow: scroll;
  position: fixed;
  top: -100vh;
  bottom: 100vh;
  right: 0;
  left: 0;
  z-index: 100;
  background: $color-primary--dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: top 0.5s, bottom 0.5s;

  a {
    display: block;
    max-width: 700px;
    width: 100%;
    font-size: calc(2rem + 4vmin);
    font-weight: 500;
    color: $color-tertiary;
    text-align: center;
    text-decoration: none;

    @media ($tablet-up) {
      font-size: calc(2rem + 5vmin);
    }

    @media (hover: hover) {
      &:hover {
        background: $color-tertiary;
        color: $color-primary--dark;
      }
    }

    &:first-of-type {
      margin-top: 100px;
    }

    &:last-of-type {
      margin-bottom: 50px;
    }
  }
}

.menu.menu--open {
  top: 0;
  bottom: 0;

  & + .hamburger {
    circle {
      fill: $color-primary--dark;
    }

    @media (hover: hover) {
      &:hover {
        transform: translateX(-50%) scale(1.5) rotate(90deg);
      }
    }
  }
}
