.menu {
  position: fixed;
  top: -100vh;
  bottom: 100vh;
  right: 0;
  left: 0;
  z-index: 100;
  background: $darker-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  transition: top .5s, bottom .5s;

  a {
    display: block;
    max-width: 700px;
    width: 100%;
    font-size: calc(2rem + 4vmin);
    font-weight: 500;
    color: $light-blue;
    text-align: center;
    text-decoration: none;

    @media ($tablet) {
      font-size: calc(2rem + 5vmin);
    }

    @media (hover: hover) {
      &:hover {
        background: $light-blue;
        color: $darker-blue;
      }
    }

    &:first-of-type {
      margin-top: 100px;
    }

    &:last-of-type {
      margin-bottom: 50px;
    }
  }
}

.menu.menu--open {
  top: 0;
  bottom: 0;
}

.menu.menu--open + .hamburger {
  circle {
    fill: $darker-blue;
  }

  @media (hover: hover) {
    &:hover {
      transform: translateX(-50%) scale(1.5) rotate(90deg);
    }
  }
}
