.hero {
  height: 800px;
  position: relative;

  .hero-filter {
    background: $darkest_blue;
    height: 100%;
  }

  .hero__background-image {
    background-image: url('https://editor.revealit.dk/sites/default/files/styles/background_image_1920w/public/2019-08/background-bit-bytes-2004161-web.jpg?itok=hTmNsRrh');
    opacity: 0.25;
    filter: grayscale(50%);
    height: 100%;
  }

  .hero__logo {
    max-width: 1400px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero__title {
    position: absolute;
    bottom: 125px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    text-align: center;
    width: fit-content;
    background: -webkit-linear-gradient($light-blue, $light-blue--darker);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
