.hero {
  position: relative;
  margin: 0 (-$body-padding-small) 48px;
  @media ($tablet-up) {
    margin: 0 (-$body-padding-medium) 48px;
  }
  @media ($desktop-up) {
    margin: 0 (-$body-padding-large) 64px;
  }

  .hero__background-image {
    min-height: 350px;
    padding: 35% 0;
    background: $color-hero-filter;
    background-size: cover;
    background-blend-mode: soft-light;

    @media ($tablet-up) {
      padding: 27% 0;
    }

    @media ($desktop-up) {
      padding: 26% 0;
    }

    @media ($widescreen-up) {
      padding: 19% 0;
    }
  }

  .hero__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1300px;
    width: 90%;
  }

  .hero__title {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    padding: 16px;
    background: -webkit-linear-gradient($color-tertiary, #03475f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7vw;
    text-align: center;
    @media ($tablet-up) {
      bottom: 40px;
      font-size: 3rem;
    }
  }
}
