.teaser-deck {
  max-width: calc(#{$max-content-width} - 20px);
  border: $body-padding-small solid $color-tertiary;
  margin: 0 0 $body-padding-small;
  @media ($tablet-up) {
    display: flex;
    align-items: center;
    margin: 0 0 $body-padding-medium;
  }
  @media ($desktop-up) {
    border: 32px solid $color-tertiary;
    margin: 0 auto $body-padding-large;
  }

  .teaser-deck__image-container,
  .teaser-deck__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 32px;
    text-align: center;
    @media ($mobile-up) {
      align-items: unset;
      text-align: left;
    }
  }

  .teaser-deck__image-container {
    padding-bottom: 0;
    @media ($tablet-up) {
      width: 40%;
      padding-bottom: 32px;
    }

    svg {
      margin: 0 auto;
      width: 180px;
      height: auto;
      @media ($tablet-up) {
        width: unset;
      }
    }
  }

  .teaser-deck__content {
    @media ($tablet-up) {
      width: 60%;
    }
  }

  .teaser-deck__title {
    margin-bottom: 16px;
    font-size: 2.5rem;
    @media ($mobile-up) {
      font-size: 3rem;
    }
    @media ($tablet-up) {
      margin-bottom: 42px;
    }
  }

  .teaser-deck__text {
    margin-bottom: 24px;
    font-size: 1.25rem;
    line-height: 32px;
    @media ($tablet-up) {
      font-size: 1.5rem;
      margin-bottom: 42px;
    }
  }

  .teaser-deck__button {
    @media ($mobile-up) {
      margin-left: auto;
    }
  }
}

.teaser-deck--secondary {
  flex-direction: row-reverse;
  margin-bottom: 80px;
  border-color: $color-secondary;
}
