.teaser-deck {
  max-width: 1180px;
  border: 15px solid $light-blue;
  margin: 16px 0;
  display: block;
  @media ($tablet) {
    display: flex;
    margin: 24px 0;
  }
  @media ($desktop) {
    border: 32px solid $light-blue;
    margin: 32px 0;
  }
  @media ($widescreen) {
    margin: 32px auto;
  }

  .teaser__image-container,
  .teaser__content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media ($mobile) {
      align-items: unset;
      text-align: left;
    }
  }

  .teaser__image-container {
    padding-bottom: 0;
    @media ($tablet) {
      padding-bottom: 32px;
      margin: auto;
      width: 35%;
    }
  }

  .teaser__content {
    @media ($tablet) {
      width: 60%;
    }
  }

  .teaser__image {
    max-width: 40%;
    max-height: 100%;
    margin: auto;
    @media ($tablet) {
      max-width: 100%;
    }
  }

  .teaser__title {
    margin-bottom: 16px;
    font-size: 2.5rem;
    @media ($tablet) {
      margin-bottom: 42px;
    }
    @media ($mobile) {
      font-size: 3rem;
    }
  }

  .teaser__text {
    margin-bottom: 24px;
    font-size: 1.25rem;
    line-height: 32px;
    @media ($tablet) {
      font-size: 1.5rem;
      margin-bottom: 42px;
    }
  }

  .teaser__button {
    border: none;
    background: $light-blue;
    color: $dark_blue;
    justify-content: space-between;
    @media ($mobile) {
      margin-left: auto;
    }

    @media (hover: hover) {
      &:hover {
        background: $purple;
        color: unset;
      }
    }
  }

  &--secondary {
    border-color: $purple;
    flex-direction: row-reverse;

    .teaser__button {
      background: $purple;
      color: unset;

      @media (hover: hover) {
        &:hover {
          background: $light-blue;
          color: $dark_blue;
        }
      }
    }
  }
}
