.hamburger {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  height: 80px;
  width: 80px;
  transition: transform .25s ease;

  .circle {
    opacity: 1;
    transition: opacity .25s ease-in-out;
  }

  @media (hover: hover) {
    &:hover {
      transform: translateX(-50%) scale(1.5);

      g {
        fill: $color-tertiary;
      }

      .circle {
        opacity: 0;
      }
    }
  }
}

#hamburger-top {
  top: 15px;
  display: none;
  @media ($desktop-up) {
    display: block;
  }
}

#hamburger-bottom {
  bottom: 15px;
  @media ($desktop-up) {
    display: none;
  }
}
