.hamburger {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  height: 70px;
  width: 70px;
  transition: transform .25s ease;
  @media ($desktop) {
    top: 15px;
  }

  .circle {
    opacity: 1;
    transition: opacity .25s ease-in-out;
  }

  @media (hover: hover) {
    &:hover {
      transform: translateX(-50%) scale(1.5);

      g {
        fill: $light-blue;
      }

      .circle {
        opacity: 0;
      }
    }
  }

  &.menu-open {
    circle {
      opacity: 0;
    }

    @media (hover: hover) {
      &:hover {
        transform: translateX(-50%) scale(1.5) rotate(90deg);
      }
    }
  }
}
