.wysiwyg {
  max-width: $max-content-small-width;
  margin: 46px auto;

  h2 {
    text-align: center;
    @media ($desktop) {
      text-align: left;
    }
  }

  p {
    margin-bottom: 32px;
    font-size: 1.25rem;
    line-height: 30px;
  }

  &.text-center * {
    text-align: center;
  }
}
