.wysiwyg {
  animation: .75s ease-out fadeIn;
  animation-delay: .5s;

  max-width: $max-content-small-width;
  margin: 0 auto 64px;

  h2 {
    text-align: center;
    @media ($desktop-up) {
      text-align: left;
    }
  }

  p {
    margin-bottom: 32px;
    font-size: 1.3125rem;
    line-height: 30px;
  }

  ul {
    margin: 15px;
    margin-left: 40px;
  }

  .button {
    max-width: 240px;
    @media ($mobile-up) {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    @media ($desktop-up) {
      position: unset;
      transform: none;
    }
  }
}
