.wysiwyg {
  max-width: 680px;
  margin: 46px auto;

  h2 {
    text-align: left;
    @media (max-width: $desktop) {
      text-align: center;
    }
  }

  p {
    margin-bottom: 32px;
    font-size: 1.25rem;
    line-height: 30px;
  }
}
