* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  font-family: $sans;
  font-weight: 400;
  color: $text-color;
  background: $dark_blue;
  padding: 0 16px;

  @media ($tablet) {
    padding: 0 24px;
  }
  @media ($desktop) {
    padding: 0 32px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $titles;
}

a {
  color: $text-color;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
