@import url("https://use.typekit.net/utc5mdm.css");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// Colors.
$color-text: #e5e5e5;
$color-primary: #001c42;
$color-primary--dark: #020025;
$color-secondary: #790677;
$color-tertiary: #05b5f5;
$color-hero-filter: #0c0a5c;

// Media queries.
$mobile-up: 'min-width: 600px';
$tablet-up: 'min-width: 699px';
$desktop-up: 'min-width: 880px';
$widescreen-up: 'min-width: 1200px';

// Max content widths.
$max-content-width: 1200px;
$max-content-small-width: 680px;

// Body padding.
$body-padding-small: 16px;
$body-padding-medium: 24px;
$body-padding-large: 32px;

// Fonts.
$titles: 'rubik', sans-serif;
$sans: 'IBM Plex Sans', sans-serif;
