.card {
  padding: 16px;
  border: 2px solid $light-blue;
  max-width: 350px;
  margin: 24px auto;

  @media ($mobile) {
    max-width: unset;
    display: flex;
  }

  @media ($desktop) {
    display: block;
    &:first-of-type {
      margin: 0 16px 0 0;
    }

    &:nth-of-type(2) {
      margin: 0 16px;
    }

    &:last-of-type {
      margin: 0 0 0 16px;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
    @media ($mobile) {
      width: 30%;
    }
    @media ($desktop) {
      width: 100%;
    }
  }

  .card__content {
    @media ($mobile) {
      padding: 24px;
    }
    @media ($desktop) {
      padding: 0;
    }
  }

  .card__title {
    font-size: 1.5rem;
    margin: 24px 0;
    text-align: center;
  }

  .card__text {
    font-size: 1.25rem;
    font-weight: 200;
    margin-bottom: 32px;
  }

  .card__button {
    min-width: unset;
    width: 100%;
    justify-content: center;
    @media ($mobile) and (max-width: 880px) {
      // 880 = desktop.
      width: 200px;
      margin-left: auto;
    }
  }
}
