.card {
  padding: $body-padding-small;
  border: 2px solid $color-tertiary;
  margin: $body-padding-small auto;
  max-width: 350px;
  position: relative;

  @media ($mobile-up) {
    max-width: unset;
    display: flex;
    height: 350px;
  }

  @media ($tablet-up) {
    margin: $body-padding-medium auto;
    padding: $body-padding-medium;
  }

  @media ($desktop-up) {
    height: unset;
    width: calc((100% / 3));
    display: block;
    &:first-of-type {
      margin: 0 ($body-padding-large / 2) 0 0;
    }

    &:nth-of-type(2) {
      margin: 0 ($body-padding-large / 2);
    }

    &:last-of-type {
      margin: 0 0 0 ($body-padding-large / 2);
    }
  }

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    @media ($mobile-up) {
      width: calc(100% / 3);
      height: unset;
    }
    @media ($desktop-up) {
      width: 100%;
      height: 150px;
    }
  }

  .card__content {
    @media ($mobile-up) {
      padding: 24px;
    }
    @media ($desktop-up) {
      padding: 0;
    }
  }

  .card__title {
    font-size: 1.5rem;
    margin: 12px 0;
    text-align: center;
    @media ($mobile-up) {
      text-align: left;
    }
    @media ($desktop-up) {
      text-align: center;
    }
  }

  .card__text {
    font-size: 1.25rem;
    font-weight: 200;
    margin-bottom: 88px;
  }

  .card__button {
    position: absolute;
    bottom: $body-padding-small;
    right: $body-padding-small;
    left: $body-padding-small;
    justify-content: center;
    min-width: unset;
    @media ($mobile-up) {
      width: 240px;
      left: unset;
    }
    @media ($tablet-up) {
      bottom: $body-padding-medium;
      right: $body-padding-medium;
    }
    @media ($desktop-up) {
      width: unset;
      left: $body-padding-medium;
    }
  }
}
