.teaser-item {
  padding: 32px 24px;
  border: 5px solid $color-secondary;
  margin: $body-padding-small 0;
  color: $color-tertiary;
  @media ($tablet-up) {
    width: calc(50% - #{$body-padding-medium / 2});

    &:nth-of-type(odd) {
      margin: ($body-padding-medium / 2) ($body-padding-medium / 2)
        ($body-padding-medium / 2) 0;
    }

    &:nth-of-type(even) {
      margin: ($body-padding-medium / 2) 0 ($body-padding-medium / 2)
        ($body-padding-medium / 2);
    }
  }
  @media ($desktop-up) {
    width: calc(50% - #{$body-padding-large / 2});

    &:nth-of-type(odd) {
      margin: ($body-padding-large / 2) ($body-padding-large / 2)
        ($body-padding-large / 2) 0;
    }

    &:nth-of-type(even) {
      margin: ($body-padding-large / 2) 0 ($body-padding-large / 2)
        ($body-padding-large / 2);
    }
  }

  .teaser-item__title-container {
    display: flex;
  }

  .teaser-item__title {
    margin-bottom: 16px;
    font-size: 1.5rem;
    @media ($mobile-up) {
      font-size: 1.75rem;
    }
    @media ($tablet-up) {
      font-size: 2rem;
    }
  }

  .teaser-item__text {
    font-size: 1.125rem;
    line-height: 24px;
    @media ($tablet-up) {
      font-size: 1.25rem;
      line-height: 32px;
    }
  }

  svg {
    height: 30px;
    margin-top: 2px;
    margin-right: 16px;
  }
}
