.teaser-item {
  padding: 32px 24px;
  border: 5px solid $purple;
  margin: 16px;
  color: $light-blue;
  @media ($tablet-landscape-up) {
    width: calc(50% - (16px * 2));
  }

  .teaser-item__title-container {
    display: flex;
  }

  .teaser-item__title {
    font-size: 1.75rem;
    margin-bottom: 16px;
    @media ($tablet-landscape-up) {
      font-size: 2rem;
    }
    @media ($mobile-down) {
      font-size: 1.5rem;
    }
  }

  .teaser-item__text {
    font-size: 1.125rem;
    line-height: 24px;
    @media ($tablet-landscape-up) {
      line-height: 32px;
      font-size: 1.25rem;
    }
  }

  svg {
    height: 30px;
    margin-right: 16px;
    margin-top: 2px;
  }
}
