.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  z-index: 99;
  padding: 24px;
  margin: 0 (-$body-padding-small);
  @media ($tablet) {
    margin: 0 (-$body-padding-medium);
  }
  @media ($desktop) {
    margin: 0 (-$body-padding-large);
  }

  .logo {
    height: 50px;
    width: 50px;
    transition: .25s;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.2);
        g {
          stroke: $light-blue;
        }
      }
    }
  }

  .header__language-container {
    display: flex;
    @media ($desktop) {
      display: block;
    }

    a {
      display: block;
      text-decoration: none;
      font-size: 1.375rem;
      transition: .25s;
      padding: 6px;

      @media ($desktop) {
        padding: unset;
      }

      @media (hover: hover) {
        &:hover {
          color: $light-blue;
          transform: scale(1.5);
        }
      }
    }
  }
}
