.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  z-index: 100;
  margin: 0 -32px;
  padding: 24px;
  @media (max-width: $desktop) {
    margin: 0 -16px;

  }

  .logo {
    height: 50px;
    width: 50px;
    transition: 0.25s;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.2);
        g {
          stroke: $light-blue;
        }
      }
    }
  }

  .header__language-container {
    @media (max-width: $desktop) {
      margin: 0 -6px;
    }

  a {
    display: block;
    text-decoration: none;
    font-size: 1.25rem;
    transition: 0.25s;

    @media (max-width: $desktop) {
      display: unset;
      padding: 6px;
    }

    @media (hover: hover) {
      &:hover {
        color: $light-blue;
        transform: scale(1.5);
      }
    }
  }
}
}