.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  z-index: 100;
  padding: 24px;
  margin: 0 -16px;
  @media ($desktop) {
    margin: 0 -32px;
  }

  .logo {
    height: 50px;
    width: 50px;
    transition: 0.25s;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.2);
        g {
          stroke: $light-blue;
        }
      }
    }
  }

  .header__language-container {
    margin: 0 -6px;
    @media ($desktop) {
      margin: unset;
    }

    a {
      text-decoration: none;
      font-size: 1.25rem;
      transition: 0.25s;
      padding: 6px;

      @media ($desktop) {
        display: block;
        padding: unset;
      }

      @media (hover: hover) {
        &:hover {
          color: $light-blue;
          transform: scale(1.5);
        }
      }
    }
  }
}
