.input-field {
  height: 50px;
  width: 100%;
  padding: 1rem;
  border: 2px solid $color-tertiary;
  border-radius: 5px;
  margin-bottom: 24px;
  background: transparent;
  color: $color-text;
  font-size: 1rem;
  font-weight: 300;

  &:focus {
    outline: none;
    border-color: $color-secondary;
  }

  &::placeholder {
    color: $color-tertiary;
  }

  &:focus::placeholder {
    color: $color-text;
  }
}

textarea.input-field {
  height: 110px;
}
