.bullet-list-container {
  max-width: $max-content-width;
  margin: 0 auto;
}

.bullet-list-container-2-col {
  @media ($tablet-up) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  ul {
    margin: $body-padding-small 0;
    @media ($tablet-up) {
      width: calc(50% - #{$body-padding-medium / 2});
    }
    @media ($desktop-up) {
      width: calc(50% - #{$body-padding-large / 2});
    }
  }
}
