.bullet-list {
  animation: .75s ease-out fadeIn;
  animation-delay: .5s;

  max-width: $max-content-small-width;
  width: 100%;
  padding: 16px;
  margin: 0 auto 32px;
  color: $color-tertiary;
  border: 3px solid $color-secondary;
  list-style: none;

  .bullet-list__item {
    position: relative;
    padding: 8px;

    span {
      display: block;
      padding-left: 35px;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  svg {
    position: absolute;
    top: 13px;
  }
}
