.bullet-list {
  max-width: $max-content-small-width;
  width: 100%;
  padding: 16px;
  margin: 32px auto;
  list-style: none;
  color: $light-blue;
  border: 3px solid $purple;

  .bullet-list__item {
    position: relative;
    padding: 8px;

    span {
      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      padding-left: 35px;
    }
  }

  svg {
    position: absolute;
    top: 13px;
  }
}
