.footer {
  height: 250px;
  border-top: $purple 4px solid;
  margin: 0 -16px;
  position: relative;

  .footer__content-wrapper {
    height: 100%;
    font-size: 1.25rem;
  }

  .footer__contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    p,
    a {
      margin: 6px;
    }
  }

  .footer__partner-container {
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    text-decoration: none;
    @media ($desktop-down) {
      top: unset;
      right: 50%;
      bottom: 25px;
      transform: translateX(50%);
      height: 40px;
    }

    img {
      height: 50px;
      @media ($desktop-down) {
        height: 40px;
      }
    }

    span {
      position: relative;
      bottom: 3px;
      border-bottom: 1px solid $purple;
      @media ($desktop-down) {
        font-size: 11px;
      }
    }
  }
}
