.section-title {
  animation: .75s ease-out fadeIn;
  animation-delay: .5s;

  max-width: $max-content-small-width;
  margin: 16px auto 32px;
  font-size: calc(2.75rem + ((1vw - .01px) * .2084));
  text-align: left;
}
