.text-and-media {
  margin-bottom: 32px;

  .section-title {
    text-align: left;
  }

  .text-and-media__content {
    display: flex;
    flex-direction: column;
    @media ($mobile-up) {
      flex-direction: row;
    }

    svg {
      flex-shrink: 0;
      margin: 0 auto 16px;
      @media ($mobile-up) {
        margin: auto 32px auto 0;
      }
    }

    p {
      font-size: 1.25rem;
      line-height: 28px;
    }
  }
}
