.text-and-media {
  margin-bottom: 32px;

  .section-title {
    text-align: left;
  }

  .text-and-media__content {
    display: flex;
    flex-direction: column;
    @media ($mobile-up) {
      flex-direction: row;
    }

    svg,
    img {
      margin: 0 auto 16px;
      width: 50%;
      @media ($mobile-up) {
        width: unset;
        margin: auto 32px auto 0;
      }
    }

    img {
      @media ($mobile-up) {
        width: 35%;
      }
    }

    p {
      font-size: 1.25rem;
      line-height: 28px;
    }
  }
}
