.banner {
  background: $purple;
  margin: 0 (-$body-padding-small) 48px;
  padding: 32px;
  @media ($tablet) {
    margin: 0 (-$body-padding-medium) 48px;
  }
  @media ($desktop) {
    margin: 0 (-$body-padding-large) 48px;
  }

  .banner__content {
    max-width: $max-content-small-width;
    margin: 0 auto;
  }

  h2 {
    margin-bottom: 24px;
  }

  .banner__text--main {
    font-weight: 300;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 30px;
    margin-bottom: 24px;
  }

  .banner__text--customer {
    font-size: 1.5rem;
  }
}
