.banner {
  padding: 32px;
  margin: 0 (-$body-padding-small) 48px;
  background: $color-secondary;
  @media ($tablet-up) {
    margin: 0 (-$body-padding-medium) 64px;
  }
  @media ($desktop-up) {
    margin: 0 (-$body-padding-large) 80px;
  }

  .banner__content {
    max-width: $max-content-small-width;
    margin: 0 auto;
  }

  h2 {
    margin-bottom: 24px;
  }

  .banner__text {
    margin-bottom: 24px;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 35px;

    &.text-italic {
      font-style: italic;
    }
  }

  .banner__buttons-container {
    display: flex;
  }

  .button {
    margin-right: 24px;
  }
}

.banner--tertiary-color {
  background: $color-tertiary;

  * {
    color: $color-primary;
  }
}
